<!DOCTYPE html>
<html>
  <head>
    <title>StarterApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <style>
      body {
        background-color: #FFFFFF; 
      }
      .header-image {
        display: block; 
        text-align: left; 
        margin-bottom: 20px; 
      }
      .title {
        color: #7A288A; 
        font-size: 48px; 
        font-weight: bold; 
      }
      .content {
        color: #000000; 
      }
    </style>
  </head>

  <body>
    <div class="header-image">
      <img src="https://www.northwestern.edu/brand/images/Kellogg_horizontal_new.jpg" alt="Kellogg Logo" style="width: 250; height: auto;">
    </div>
    <h1 class="title">Travel Diary</h1>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>

